

body{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    background-color: #033a28;
   
   
  

}
header {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
}
.logo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
    
}
.nav{
display: flex;
justify-content: center;
align-items: center;
}
.nav ul{
    list-style: none;
}
.nav ul li {
    background-color: #262626;
    width: 170px;
    height: 50px;
    line-height: 50px;
    border: 1px #ddd;
    text-align: center;
    float: left;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav ul li:hover {
    background-color: crimson;
    transition:all ease-in 0.5s;
}
.nav ul ul {
    display: none;
}
.nav ul li:hover > ul {
    display: block;
}
footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: rgb(27, 26, 26);
    color: white;
    width: 100%;
    height: fit-content;
    line-height: 60%;
    font-size: 16px;
}
.name h2 {
font-family: Verdana, 'Arial Narrow Bold', sans-serif;
font-size: 20px;
font-weight: bold;
letter-spacing: 10px;

}
.text p{
    width: 700px;
    text-align: center;
    margin: 0 auto;
    top: -30px;
}
.copy {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    line-height: 50px;
    font-size: 20px;
    margin-top: 10px;
}
.ikn i {

    font-size: 25px;
    padding: 10px;
    position: relative;
    top:5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
